awk
bash
eigen
debugging
errores
librerias
makefile_and_cpp
profiling
eigen_and_openmp
openmpi
openmp
threads-cpp/Screenshot from 2023-05-08 03-00-18.png
cuda
threads-cpp
mpi/class
mpi/self
mpi/homework/remote/*.out
